<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.duyell.mapper.ReservationMapper">
    <resultMap id="ReservationMap" type="com.duyell.model.Reservation">
        <id column="reservation_id" property="reservationId"/>
        <result column="user_id" property="userId"/>
        <result column="property_id" property="propertyId"/>
        <result column="reservation_time" property="reservationTime"/>
    </resultMap>
</mapper>